<table>
  <tbody>

  <div class="container" id="main_container">
      <ul id="smart-list">
          <li class="goal_name">
              <h4>Name:</h4>
              <p>
              <%= @goal.name%>
              </p>
          </li>
          <li class="s">
              <h4>Specify:</h4>
              <p>
              <%= @goal.S%>
              </p>
              
          </li>
          <li class="m">

              <h4>Measurable:</h4>
              <p>
              <%= @goal.M%>
              </p>
          </li>
          <li class="a">

              <h4>Acheivable:</h4>
              <p>
              <%= @goal.A%>
              </p>
          </li>
          <li class="r">
              <h4>Relevant:</h4>
              <p>
              <%= @goal.R%>
              </p>

          </li>
          <li class="t">
              <h4>Timely:</h4>
              <p>
              <%= @goal.T%>
              </p>
          </li>
      </ul>
      <footer id="view-goals-icon-wrapper">
        <div id="set-goals-icon"> 
              <span class="icon-pencil"></span> 
        </div>
      </footer>
  </div>

</tbody>
</table>

